body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1,22;
  font-weight: bold;
  background-color: #849d8f;
  color: #ffffff;
}
/*ХЕДЕР*/

.header .container {
  width: 1200px;
  margin: 0 auto; /*задала ширину контейнеру и обнулила маргин*/
}

.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
}

.header-logo:hover {
  color: #ffbc9e;
}

.header-logo:active {
  color: #ffbc9e;
}
/*список*/
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffbc9e;
}

a:active {
  color: #ffbc9e;
}

.main-navigation .main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; /*присвоила флекс*/
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  margin-top: 7px;  /*стили для списка*/
}

.main-navigation .main-top {
  color: #ffff;
  display: block;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding: 10px;
  text-decoration: none;  /*задала стили для списка верхнего уровня*/
}

.main-navigation .main-top:hover {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 20px;
  text-decoration: none; /*задала стили при наведении для списка верхнего уровня*/
}

.main-navigation .main-top:active {
  color: #ffffff;
  background-color: #d07058;   /*задала стили активной ссылки для списка верхнего уровня*/
}

.main-menu .sub-menu {
  display: none;  /*скрыла подменю*/
  position: absolute;
  width: 140px;
  padding: 10px;
}

.sub-menu-item:nth-child(1) {   /*задала бордеры сверху по бокам*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sub-menu-item:nth-child(5) {   /*задала бордеры снизу по бокам*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-menu-item .main-bottom {
  text-decoration: none;      /*задала стили для ссылок меню нижнего уровня*/
  color: #3f3f3f;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.sub-menu .sub-menu-item {
  display: inline-block;  /*заданы стили для меню нижнего уровня*/
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  width: 140px;
  padding: 10px;
}

.sub-menu-item:hover {
  background-color: #fbded7;  /*заданы стили для меню нижнего уровня при нажатии*/
}

.sub-menu-item:active {
  background-color: #f6b5a5;   /*заданы стили для активной ссылки для меню нижнего уровня*/
}

.main-menu li:hover .sub-menu {
  display: block;      /*открывается подменю при наведении на меню каталога*/
  color: #333333;
}

.user-block {
  display: flex;
  position: relative;
}

.user-block-item {
  padding: 10px;
}

.container-left-wrapper {
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.user-btn .search-icon {
  width: 40px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.search-icon::before {
  content: "";
  background-image: url(../img/loupe.svg);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;  /*поменяла полностью блок поиска, так как было неверно, при наведении не выводилась иконка лупы*/
}

.search-icon:hover {
  background-color: #ffffff;
  border-radius: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.search-icon:hover::before {
  content: "";
  background-image: url(../img/lupa-bl.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search input[type=submit] {
  display: none;
}
/*поиск форма*/
.search-block:hover .search {
  display: block;
}

.search {
  display: none;
  position: absolute;
  color: #323232;
  width: 347px;
  background-color: #f8f7f4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  top: 40px;
  right: 250px;
}

.search-placeholder {
  box-sizing: content-box;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 310px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px #d3d3d2;
  border-radius: 5px;
  border: 0;
  outline-offset: inherit;
}

.for-placeholder {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  opacity: 0;
}

/*вход*/

.login-btn {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  background-position: center;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}

.login-btn::before {
  content: "";
  color: #333333;
  padding-right: 30px;
  background-image: url("../img/login.png");
  background-repeat: no-repeat;
}

.login-btn:hover {
  color: #333333;
  background-color: #f8f7f4;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.login-btn:hover::before {
  content: "";
  color: #333333;
  padding-right: 30px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
}

.login-form {
  display: none;
  position: absolute;
  background-color: #f8f7f4;
  border-radius: 4px;
  width: 275px;
  height: 210px;
  padding: 20px;
}

.login .input-field {
  width: 240px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
}

.login:hover .login-form {
  display: block;
}

.login-form-btn {
  float: left;
}

.login-link {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: underline;
  float: right;
  margin-top: 10px;
}

.visually-hidden {
  display: none;
}
/*корзина*/

.top-placeholder {
  font-size: 0;
}

.full-basket-btn {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
  border-radius: 20px;
  border: none;
}

.full-basket-btn::before  {
  content: "";
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px;
  }

.basket .basket-btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;

}

.basket .basket-btn::before {
  content: "";
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding: 5px;
  padding-right: 15px;
  padding-right: 35px;
}

.basket-product {
  display: none;
  position: absolute;
  color: #323232;
  width: 544px;
  background-color: #f8f7f4;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  top: 35px;
  right: 0;
  padding: 20px;
}

.basket:hover .basket-product {
    display: block;
}
/*не получается поставить x*/
.full-basket .delete-product-btn::before {
  content: "";
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  padding: 5px;
}

.basket-product .total {
  float: right;
  font-size: 15px;
  line-height: 18px;
}

.basket-product a:not(.purchase-btn) {
  text-decoration: none;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.purchase-btn {
  float: right;
}
/*контакты*/
.header-contacts {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  text-align: right;
  color: #ffffff;
}

.header-contacts p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.header-contacts .tel {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}
/*кнопки красные скругленые*/

.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
}

.btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
}
.btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
}



/*Хлебные крошки*/
.container .breadcrumbs {
  color: #ffff;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 14px;
  line-height: 16px;
  width: 225px;
  height: 23px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.container .ice-title {
  color: #ffff;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin: 6px -6px 27px;
  padding: 0;
}
/*Фильтры*/
.selection-form-wrapper {
  margin-bottom: 35px;
  width: 1200px;
}

.selection-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
/*сортировка*/
.selection-form fieldset {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  border: none;
  color: #ffffff;
}

.selection-form legend {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: normal
}

.sort-form {
  height: 30px;
  width: 192px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 100px;
  background-image: url("../img/select-arrow.svg");
  background-position: 165px center;
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal
  font-family: "Roboto", "Arial", sans-serif;
  outline: none;
  cursor: pointer;
  padding-left: 15px;
}

.sort-form option {
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #323232;
}

/*ползунок*/
.selection-form .range {
  width: 215px;
  height: 40px;
}
.range-price span {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal
  color: #ffffff;
}

.range label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
}

.min-price,
.max-price {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  vertical-align: top;
  width: 30px;
}

.range-controls {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 100px;
  position: relative;
  width: 215px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.ruler {
  height: 5px;
  background-color: rgba(248, 247, 244, 0.5);
}

.center-ruler {
  width: 80px;
  margin-left: 40px;
  height: 5px;
  background-color: rgba(248, 247, 244, 1);
}

.toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(248, 247, 244, 1);
}

.toggle-left {
  left: 35px;
}

.toggle-right {
  left: 130px;
}

.toggle:hover {
  width: 25px;
  height: 25px;
}

.toggle-left:hover {
  left: 30px;
}

.toggle-right:hover {
  left: 135px;
}
/*жирность*/
.fatiness-form {
  width: 405px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 5px;
}

.fatiness label {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}

.fatiness label:last-child {
  margin-right: 0;
}
/*наполнители*/
.fillers {
  width: 702px;
}

.fillers-form {
  width: 702px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  padding-top: 10px;
}

.fillers-form label {
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
}

.fillers-form label:last-child {
  margin-right: 0;
}
/*кнопка фильтра*/
.selection-btn {
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.selection-btn:hover {
  color: #323232;
  background-color: #ffffff;
}

.selection-btn:active {
  border: none;
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/*слайдер не получается*/
.slider-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 700px;
  position: relative;
  top: 300px;
  left: 300px;
}

.slider-btn {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  position: relative;
  top: 300px;
  left: 400px;
  }

.container .slider {
  background-image: url(../img/index-slide-ice-min.png);
  background-repeat: no-repeat;
  width: 1200px;
  height: 600px;
}

/*промо*/
.promo-card {
  width: 1200px;
  margin-bottom: 35px;
}

.promo-card-item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  margin-left: 25px;
}

.promo-card-item-left {
  background-image: url("../img/rasberrys.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
  min-height: 220px;

}

.promo-card-item-right {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
  min-height: 220px;
}

.promo-card h3 {
  font-size: 35px;
  line-height: 41px;
  margin-top: 20px;
  margin-left: 20px;
}

.promo-card p {
  font-size: 18px;
  line-height: 22px;
  margin-left: 20px;
}

 .promo-card-btn {
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 20px;

 }
/*товары решить проблему, почему они у меня прыгают при наведении*/
.range-product {
  width: 1200px;
  margin-bottom: 55px;
}

.range-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  position: relative;
  font-size: 16px;
  margin-bottom: 60px;
  margin-left: 25px;
  min-height: 330px;
  width: 270px;
}

.price-kilogram {
  padding-left: 30px;
}

.price-kilogram::before {
  content: "";
  position: absolute;
  top: 276px;
  left: 80px;
  width: 44px;
  height: 40px;
  background-image: url(../img/ruble.svg);
  background-repeat:  no-repeat;
}

.product-item::after {
  position: absolute;
  content: "";
  display: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 420px;
  width: 294px;
  top: 10px;
  left: -10px;
  opacity: 0.5;
}

.product-item:hover::after {
  display: block;
}

.product-item img {
  margin-top: 20px;
}

.product-item span {
  font-weight: bold;
  font-size: 45px;
  line-height: 1px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
/*рубль не получается вставить иконку псевдоэлементами*/

  .product-price {
  font-weight: bold;
  font-size: 45px;
  line-height: 1px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item-hit  {
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 270px;
  width: 270px;
}

.name-product {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.product-bottom-btn {
}

.product-item .btn {
  display: none;
}

.product-item:hover .btn {
    display: block;
}
/*вафля*/
.about-us {
  margin-bottom: 35px;
  margin-left: 20px;
}

.about-us-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 300px;
  background: url("../img/wafer-fon.png") repeat #eae0c7;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  border-radius: 10px;
  padding-bottom: 40px;
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
  color: #232323;
  padding-left: 20px;
  padding-right: 108px;
  text-align: left;
}

.about-us p {
  display: flex;
  font-weight: normal;
  flex-basis: 550px;
  font-size: 16px;
  line-height: 22px;
  padding-right: 5px;
  padding-top: 20px;
  color: #232323;
}

.about-us .first::before  {
  content: "";
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
  padding-left: 40px;
}

.about-us .second::before  {
  content: "";
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
  padding-left: 40px;
}

.about-us .third::before  {
  content: "";
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
  padding-left: 40px;
}

.about-us .fourth::before  {
  content: "";
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 50px;
  padding-left: 40px;
}
/*блоги*/
.blog {
  margin-bottom: 35px;
}

.blog-item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  min-height: 226px;
}

.blog-left  {
  min-width: 560px;
  vertical-align: top;
  background-color: #fdfefe;
  border-radius: 15px;
  padding-left: 20px;
  text-align: left;
  margin-right: 25px;
  margin-left: 25px;
}

.subscribe  {
  background-image: url(../img/strawberry.png);
  background-repeat: no-repeat;
}

.blog-left h3 {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
}

.blog-left a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
}

.blog-right {
  width: 560px;
  border: 8px solid transparent;
  border-image-source: url("../img/bg-post.svg");
  border-image-slice: 10;
  border-image-repeat: repeat;
}

.subscription {
  position: relative;

}

.blog-right p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  text-align: left;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.post {
  margin-right: 20px;
  background-color: #f8f7f4;
  border-radius: 15px;

}

.subscription-email {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 330px;
  color: #323232;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-left: 20px;
  padding: 10px;
}

.subscription-btn {
  float: right;
  width: 150px;
  margin-right: 15px;
  margin-top: 1px;
  cursor: pointer;
}
/*карта надо сделать интерактивной*/
.yandex-map {
  background-image: url(../img/maps.jpg);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 434px;
  width: 1200px;
}

.feedback-adress {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 300px;
  background-color: #fdfefe;
  border-radius: 15px;
  padding-left: 20px;
  text-align: left;
}

.adress {
  width: 222px;
  margin-top: 12px;
}

.adress p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding-top: 10px;
  font-weight: normal;
  margin: 0;
}

.adress b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  padding-top: 10px;
  font-weight: normal;
  margin: 0;
}

.phone p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding-top: 10px;
  font-weight: normal;
  margin: 0;
}

.phone b {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  padding-top: 10px;
  font-weight: normal;
  margin: 0;
}

.feedback-btn {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
}

.feedback-btn:hover {
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  cursor: pointer;
}

.feedback-btn:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
}
/*Пагинатор*/
.paginator {
  margin: 20px 10px 50px 950px;
  position: relative;
}

.paginator .disabled {
  border-color: rgba(255, 255, 255, 0.5);
}

.page {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.current-page,
.current-page:hover {
  background-color: #fff;
  color: #000000;
}

.current-page,
.page:active {
  color: #323232;
}

.page:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.page:active{
  background-color: #ffffff;
  color: #323232;
}
/*футер*/
.page-footer .container {
  display: flex;
  margin-top: 15px;
}
.footer-social {
  width: 200px;
  vertical-align: baseline;
  margin: 0;
  margin-right: 210px;
  margin-left: 25px;
}

.social-btn {
  display: inline-block;
  opacity: 0.8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin: 5px;
  vertical-align: top;
  text-decoration: none;
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.social-btn:active {
  box-shadow: 0 2px 1px #888 inset;
  opacity: 0.8;
}

.social-btn-tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-inst {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-vk {
  background-image: url(../img/vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-menu  {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 225px;
}

.provider {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Roboto";
  margin: 5px;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}

.provider:hover {
  color: #ffbc9e;
}

.provider:active {
  color: #ffbc9e;
}

.left-provider {
  position: relative;
}

.left-provider a:first-child {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.left-provider a:first-child::before {
  content: "";
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  padding-right: 20px;
}

.footer-copyright {
margin-right: 25px;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  color: #e6ebe8;
  margin-top: 0;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #e6ebe8;
  margin-top: 0;
}

.footer-copyright img {
  margin-top: 15px;
}

.footer-logo:hover {
  color: #ffbc9e;
}
.footer-logo:active {
  color: #ffbc9e;
}
/*мы обязательно вам отетим*/
.modal {
  display: block;
  position: absolute;
  width: 440px;
  background-color: #f8f7f4;
  border-radius: 10px;
  color: #323232;
  padding: 20px;
}

.modal-content {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin-top: 2px;
}

.modal-close {
  color: #323232;
  float: right;
}

.modal .delete {
  font-size: 0;
}

.feedback-form .input-field {
  border: 1px solid #d3d3d2;
  width: 268px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
  margin-bottom: 15px;
  padding: 5px;
  }

.feedback-form textarea {
  border: 1px solid #d3d3d2;
  width: 427px;
  height: 150px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #b4b4b4;
  }

.feedback-form .btn {
  float: right;
  cursor: pointer;
}
